<% unless @event.finalizado %>
<!-- Modal Structure -->
<div id="edit_event" class="modal">
  <div class="modal-content">
      <h5 class="blue-text">Editar evento</h5>
      <%= render 'form', event: @event %>
  </div>
</div>
        
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

<% end %>