<% if @event.submeta.blank? %>
  <%= simple_form_for [:user, @event], remote: true  do |f| %>
      <%= f.input :title %>
      <%= f.input :date_range, as: :hidden, input_html: { class: "form-control input-sm date-range-picker" } %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <% if @event.new_record? %>
        <%= f.input_field :start, value: Date.today, class: 'datepicker start_hidden' %>
        <%= f.input_field :end, value: Date.today, class: 'datepicker end_hidden' %>
      <% end %>
      <%= f.input :color, as: :select, collection: [['Preto','black'], ['Verde','green'], ['Vermelho','red'], ['Purple','purple'], ['Laranja','orange'], ['Azul','blue']] %>
      <%= f.button :submit, "Atualizar", class: "btn green" %>
      <%= link_to 'Deletar', 
                  user_event_path, 
                  method: :delete, 
                  class: 'btn red', 
                  data: { confirm: 'Are you sure?' }, 
                  remote: true unless @event.new_record? %>
  <% end %>
<% else %>
  <div class="layout">
    <h5 class="orange-text">Título</h5>
    <span style="font-size: 13px;"><%= "#{@event.title}".html_safe %></span>
  </div>
  <div class="layout">
    <h5 class="orange-text">Descrição</h5>
    <span style="font-size: 13px;"><%= "#{@event.description}".html_safe %></span>
  </div>
  <%= simple_form_for [:user, @event.submeta], remote: true  do |f| %>
    <br>
    <div class="row">
      <div class="col s12 m12 l6">
      <div class="layout">
        <span style="font-size: 13px;">
          <%= "#{@event.submeta.horas} horas" %>
        </span>
      </div>
      </div>
      <div class="col s12 m12 l6">
        <%= f.input :horas_finalizadas, label: "Horas Finalizadas" %>
      </div>
    </div>
      <span style="font-size: 13px; line-height: 3;">Observações</span>
      <%= f.cktext_area :observacoes, ckeditor: {language: 'pt'} %>

      <br>
      <%= f.button :submit, "Atualizar", class: "btn green" %>
  <% end %>
<% end %>






<style type="text/css">
  .description{
    padding: 15px;
    background-color: #e9e9e9;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  body{
    font-size: 11px;
        
  }
</style>