<!-- Modal Structure -->
<div id="new_event" class="modal">
  <div class="modal-content">
      <h5 class="blue-text">Criar novo evento</h5>
      <%= render 'form', event: @event %>
  </div>
</div>
        
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>