<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">

      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <div class="row">
            <div class="col m3 s4">
              <%= f.label 'Photo' %><br />
              <%= f.file_field :image %><br />
            </div>
          </div>
          <div class="row">
            <div class="col m3 s4">
              <img id="image_upload_preview" class="responsive-img circle" />
            </div>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :name, autofocus: true %>
            <label for="icon_prefix">Name</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">text_fields</i>
            <%= f.text_field :description %>
            <label for="icon_prefix">Descrição</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">location_on</i>
            <%= f.text_field :location %>
            <label for="icon_prefix">Location</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">all_inclusive</i>
<%= f.collection_select :sex, User.sex_to_select, :to_s, :to_s, :include_blank => true %>
            <label for="icon_prefix">Sexo</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.email_field :email %>
            <label for="icon_prefix">E-mail</label>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>



        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <label for="icon_telephone">Password</label>
          </div>
        </div>


        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <label for="icon_telephone">Password Confirmation</label>
          </div>
        </div>



        <div class="actions">
          <button class="btn waves-effect waves-light" type="submit" name="action">Update
            <i class="material-icons right">send</i>
          </button>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  class: 'btn lighten-2 red waves-light' %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>

<script type="text/javascript">
   $(document).ready(function() {
      $('select').material_select();
    });
   
</script>