===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />

    <h3>Olá <%= @user.nome %></h3>
    <p style="color: #455463; margin: 0; padding: 0;">
      Muito obrigado por aceitar nosso convite, seu cadastro foi recebido com sucesso.
    </p>
    <p style="color: #455463; font-style: italic; margin: 0;padding: 0;">
      Thank you very much for accepting our invitation, your registration has been received with success.
    </p>
<br>
<br>
<br>
<br>
Atenciosamente<br />
===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />
