===============================================================
Essa é uma mensagem automática. Por favor, não responda.
===============================================================

Olá <%= @resource.nome %>

Alguém pediu um link para mudar sua senha, e você pode fazê-lo através do link abaixo.

<%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @token) %>

Se você não pediu isso, por favor, ignore este e-mail.
Sua senha não será alterada até que você acesse o link acima e altera para uma nova senha.

Atenciosamente,

===============================================================
Essa é uma mensagem automática. Por favor, não responda.
===============================================================
