<% if @contato.errors.any? %>
  $("#form_error").html("<%= j( render '/shared/form_error', object: @contato )%>");

$('html, body').animate({
      scrollTop: $("#form_error").offset().top-130
  }, 1500);
<% end %>