footer{
	min-height: 96px;
	background-color: #aaa;
	margin-top: -20px;
	text-align: center;

	img{
		height: 96px;
		width: auto;
		padding: 15px;
		margin-left: 25%;
	}
}


.lembrete{
	color: #ffffff;

	color: #fafafa;

	color: #b98021;

	color: #b51a39;

	color: #ac0d07;

	color: #0d0d0d;

	color: #050505;

}