#navbar{
	background-color: rgba(000, 000, 000, 0.6);
	color: #eee;
	display: flex;

	img{
	    height: 100%;
	    width: auto;
	    padding: 5px;
	}
}
#navbar-fixed{
	z-index: 1111;
	width: 100%;
}


.lembrete{
	color: #ffffff;

	color: #fafafa;

	color: #b98021;

	color: #b51a39;

	color: #ac0d07;

	color: #0d0d0d;

	color: #050505;

}