<% if @user.errors.any? %>
  $("#form_error").html("<%= j( render '/shared/form_error', object: @user )%>");
  $('html, body').animate({ scrollTop: 0 }, 'slow');
<% else %>
  $("#user").html("<%= j( render 'form_success', user: @user )%>");
<% end %>