

<div id="user" class="container" style="min-height: 400px;">
  <h4>Esqueceu sua senha?</h4>
  <div class="row">
    <div class="col m12 ">
    <div style="height: 100px;"></div>


<%= form_for [@user], remote: true do |f| %>




  <div id="form_error">
    <%= render '/shared/form_error', object: @user %>
  </div>

  <%= f.hidden_field :reset_password_token %>


            <div class="field">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">lock</i>
                <%= f.password_field :password, autocomplete: "off" %>
                <label for="icon_telephone">Senha</label>
              </div>
            </div>
            <div class="field">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">lock</i>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
                <label for="icon_telephone">Confirmar Senha</label>
              </div>
            </div>

  <div class="actions">
    <%= f.submit "Enviar", class: "btn" %>
  </div>
<% end %>

</div>
</div>
</div>