


<div id="user" class="container" style="min-height: 400px;">
	<h4>Esqueceu sua senha?</h4>
  <div class="row">
    <div class="col m12 ">
    <div style="height: 100px;"></div>
		<%= form_for(@user, url: password_path(resource_name), html: { method: :post, remote: true }) do |f| %>
		
        <div id="form_error">
          <%= render '/shared/form_error', object: @user %>
        </div>
        <div class="field brown">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <%= f.email_field :email, autofocus: true %>
            <label for="icon_prefix">E-mail</label>
          </div>
        </div>

  <div class="actions">
    <%= f.submit "Enviar instruções para recuperação de senha", class: "btn" %>
  </div>
        

      <% end %>

    </div>
  </div>
</div>
