
      <%= form_for [:user, @contato], remote: true do |f| %>

      <div id="form_error">
      </div>

      <div class="row">
        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :nome, autofocus: true, class: "go_next"  %>
            <label for="icon_prefix">Nome / Razão Social</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">email</i>
            <%= f.text_field :email, class: "go_next"  %>
            <label for="icon_prefix">E-mail</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">phone</i>
            <%= f.text_field :celular, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15, class: "go_next" %>
            <label for="icon_prefix">Celular</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :mensagem %>
            <label for="icon_prefix">Mensagem</label>
          </div>
        </div>

      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <div class="actions">
            <button class="btn blue waves-effect waves-light right" type="submit" name="action">Salvar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

      <% end %>






<script type="text/javascript">

  $(document).ready(function() {
    $('select').material_select();
  });
    
</script>