<table class="responsive-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Contato</th>
      <th>Mensagem</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @contatos.each do |contato| %>
      <tr style="border: 1px solid #ccc;">
        <td><%= contato.id %></td>
        <td>
          <strong>Nome:</strong>  <%= contato.nome %> <br>
          <strong>E-mail:</strong>  <%= contato.email %> <br>
          <strong>Celular:</strong>  <%= contato.celular %>
        </td>
        <td>
          <%= contato.mensagem %>
        </td>
        <td>
          <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_user_contato_path(contato), class: "btn blue btn-floating" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

