<footer>
	<div class="row" style="margin-bottom: 0;">
		<div class="col s12 m12 l6" style="text-align: left;">
    		<img id="" class="logo" src="/images/logos/logo.png"  >
		</div>
		<div class="col s12 m12 l6" style="padding: 16px;">
			<span style="color: #fff; font-size: 20px; line-height: 32px;">R. Episcopal, 2386 - Centro - São Carlos - SP, 13560-011. <br> (19) 9 9665.7740</span>
		</div>
	</div>
</footer>