<% if object.errors.any? %>

<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">OPS <span class="badge red white-text"><%= object.errors.size %></span></span>
        <% object.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>

<% end %>