<div id="navbar-fixed" class="">
  <nav id="navbar" class="nav_botton" style="box-shadow: none;">
    <%= link_to root_path do %>
      <img id="" class="logo" src="/images/logos/logo.png"  >
    <% end %>
    <div class="nav-wrapper right" style="position: absolute; right: 14%;">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a id="menu_home" class="hover"> HOME </a></li>
        <li><a id="menu_software" class="hover"> SOFTWARE </a></li>
        <li><a id="menu_marketing" class="hover"> MARKETING </a></li>
        <li><a id="menu_consultoria" class="hover"> CONSULTORIA </a></li>
        <li><a id="menu_contato" class="hover"> CONTATO </a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "HOME", "#home", method: "get" %></li>
        <li><%= link_to "SOFTWARE", "#servicos", method: "get" %></li>
        <li><%= link_to "MARKETING", "#marketing", method: "get" %></li>
        <li><%= link_to "CONSULTORIA", "#consultoria", method: "get" %></li>
        <li><%= link_to "CONTATO", "#contato", method: "get" %></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "SAIR", destroy_user_session_path, :method => :delete unless current_user.blank? %></li>
      </ul>
    </div>
  </nav>
</div>

<style type="text/css">
  a.hover{
    font-weight: 500;
  }
  a.hover:hover{
    color: #653cb2;
  }
</style>

<script type="text/javascript">
  
$("#menu_home").click(function() {
    $('html, body').animate({
        scrollTop: $("header").offset().top-64
    }, 1500);
});
  
$("#menu_software").click(function() {
    $('html, body').animate({
        scrollTop: $("#servicos").offset().top-64
    }, 1500);
});
  
$("#menu_marketing").click(function() {
    $('html, body').animate({
        scrollTop: $("#marketing").offset().top-64
    }, 1500);
});
  
$("#menu_consultoria").click(function() {
    $('html, body').animate({
        scrollTop: $("#yatah").offset().top-64
    }, 1500);
});
  
$("#menu_contato").click(function() {
    $('html, body').animate({
        scrollTop: $("#contato").offset().top-64
    }, 1500);
});
  

</script>