
      <%= form_for [:user, @servico], remote: true do |f| %>

      <div id="form_error">
      </div>

      <div class="row">
        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :nome %>
            <label for="icon_prefix">Nome</label>
          </div>
        </div>
          <div class="field">
            <span style="font-style: italic; color: #777; margin-left: 10px;">Descrição</span>
            <div class="input-field col s12 m12">
              <%= f.cktext_area :descricao, ckeditor: {language: 'pt'} %>
            </div>
          </div>

        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :icon, class: "go_next"  %>
            <label for="icon_prefix">Icon</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :icon_color, class: "go_next"  %>
            <label for="icon_prefix">Icon Color</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :icon_size, class: "go_next"  %>
            <label for="icon_prefix">Icon Size</label>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <div class="actions">
            <button class="btn blue waves-effect waves-light right" type="submit" name="action">Salvar
              <i class="material-icons right">send</i>
            </button>
            <a id="servico_visualizar" class="right btn orange" style="margin: 0px 2px;">Visualizar</a>
          </div>
        </div>
      </div>

      <% end %>

      <div class="row">
        <div class="col s12 m12 l4">
          <div id="visualizar">
            <div class="item_servico">
              <span class="icon">
                <i class="material-icons"></i>
              </span> <br>
              <span class="nome"></span> <br> <br>
              <span class="descricao"></span>
            </div>
          </div>
        </div>
      </div>

<style type="text/css">

  .item_servico{
    min-height: 100px;
    text-align: center;
    padding: 15px;
    border: 1px dashed #eee;
    span.nome{
      font-weight: 600;
    }
    span.descricao{
      line-height: 1.5;
    }
  }
</style>

<script type="text/javascript">

  $(document).ready(function() {
    $('select').material_select();
  });
    
</script>


<script type="text/javascript">
  $("#servico_visualizar").click(function(){
    var nome = $("#servico_nome").val();
    var descricao = CKEDITOR.instances['servico_descricao'].getData();
    var icon = $("#servico_icon").val();
    var icon_color = $("#servico_icon_color").val();
    var icon_size = $("#servico_icon_size").val();
    $(".item_servico span.icon i").text(icon);
    $(".item_servico span.icon i").css("color", icon_color);
    $(".item_servico span.icon i").css("font-size", icon_size);
    $(".item_servico span.nome").text(nome);
    $(".item_servico span.descricao").text(descricao);
  });
</script>