<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Icon</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.id %></td>
        <td>
          <i class="material-icons" style="font-size: <%= "#{servico.icon_size}" %>; color: <%= "#{servico.icon_color}" %>;"><%= servico.icon %></i>
        </td>
        <td><%= servico.nome %></td>
        <td><%= "#{servico.descricao}".html_safe %></td>
        <td>
          <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_user_servico_path(servico), class: "btn blue btn-floating" %>
          <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, user_servico_path(servico), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-floating", style: "background-color: red;" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

