      <%= form_for [:user, @meta], remote: true do |f| %>

      <div id="form_error">
      </div>

      <div class="row">
        <div class="field">
          <div class="input-field col s12 m12 l12">
            <% if @meta.new_record? %>
              <%= f.text_field :user_id, type: "hidden", value: current_user.id %>
            <% end %>
          </div>
        </div>
        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :user, value: "#{current_user.nome} - #{(l DateTime.now, format: :long)}", :readonly => true %>
            <label for="icon_prefix">Responsável</label>
          </div>
        </div>
        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :nome %>
            <label for="icon_prefix">Nome da Meta (identificação)</label>
          </div>
        </div>
        <div class="field">
          <span style="font-style: italic; color: #777; margin-left: 10px;">Descrição do que será realizado</span>
          <div class="input-field col s12 m12">
            <%= f.cktext_area :descricao, ckeditor: {language: 'pt'} %>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :data_inicio, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
            <label for="icon_prefix">Data de Início</label>
          </div>
        </div>
        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :data_fim, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
            <label for="icon_prefix">Data de Término</label>
          </div>
        </div>
        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :horas, placeholder: "somente se horas for necessário no cumprimento da meta" %>
            <label for="icon_prefix">Horas</label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="switch col s12">
          <div class="title">
            <span style="color: #666; font-size: 14px; margin: 0px;">Público</span>
          </div>
          <label>
            Não
            <%= f.check_box :publico %>
            <span class="lever"></span>
            Sim
          </label>
        </div>
      </div>


      
      <div class="row">
        <div class="input-field col s12">
          <div class="actions">
            <button class="btn blue waves-effect waves-light right" type="submit" name="action">Salvar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

      <% end %>


    <% unless @meta.new_record? and @meta.submetas.blank? %>
      <br><br>
      <div class="layout">
          <h5 class="orange-text">Submetas</h5>
          <% @meta.submetas.each do |submeta| %>
            <div class="layout">
                <% if submeta.finalizado %>
                  <i class="material-icons green-text">check_circle</i>
                  <span style="font-size: 12px; font-style: italic; color: #777; ">Concluído</span>
                <% else %>
                  <i class="material-icons red-text">close</i>
                  <span style="font-size: 12px; font-style: italic; color: #777; ">Não concluído</span>
                <% end %>
              <br>
              <span class="blue-text">
                <%= (l submeta.data.to_date, format: :long) %>
              </span>
            </div>
          <% end %>
      </div>
    <% end %>
<style type="text/css">

  .item_meta{
    min-height: 100px;
    text-align: center;
    padding: 15px;
    border: 1px dashed #eee;
    span.nome{
      font-weight: 600;
    }
    span.descricao{
      line-height: 1.5;
    }
  }
</style>

<script type="text/javascript">

  $(document).ready(function() {
    $('select').material_select();
  });
    
</script>

