<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Status</th>
      <th>Submetas</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @metas.each do |meta| %>
      <tr>
        <td>
          <span style="padding: 10px; border: 1px solid #2196f3; border-radius: 30px;">
            <%= meta.id %>
          </span>
        </td>
        <td>
          <%= meta.nome %><br>
          <span style="font-size: 10px; color: #777; font-style: italic;">(<%= l meta.created_at.to_date, format: :short %>)</span>
        </td> 
        <td><%= meta.status %></td>
        <td>
          <span class="blue-text" style="font-size: 18px; font-weight: 600;">
            <% if meta.horas.blank? or meta.horas.to_i.zero? %>
              <%= "#{meta.submetas.size}/#{meta.submetas.where(finalizado: true).size}" %>
            <% else %>
              <%= "#{meta.submetas.size*meta.horas.to_i}hrs / #{meta.horas_concluidas}hrs" %> 
            <% end %>
          </span>
        </td>
        <td>
          <%= link_to "<i class='material-icons'>search</i>".html_safe, user_meta_path(meta), class: "btn orange btn-floating" %>
          <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_user_meta_path(meta), class: "btn blue btn-floating" %>
          <%= link_to "<i class='material-icons'>delete</i>".html_safe, user_meta_path(meta), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-floating", style: "background-color: red;" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

