<div  style="border: 1px solid #ccc; padding: 15px;">
	<h4 class="title grey-text" style="margin: 0;" ><%= "METAS" %></h4>
  <br>
	<%= link_to "CRIAR META", new_user_meta_path, class: "btn green" %>
	

  <div class="row">
    <form class="col s12">
      <div class="row">
		<div class="input-field col s6 m6 l3">
		  <input id="id" type="text" class="validate">
		  <label class="active" for="id">Código</label>
		</div>
		<div class="input-field col s6 m6 l3">
		  <input id="name" type="text" class="validate">
		  <label class="active" for="name">Nome</label>
		</div>
		<div class="input-field col s6 m6 l3">
		<a id="buscar" class="btn blue">Buscar</a>
		</div>
      </div>
    </form>
  </div>

<div class="row">
  <div class="col s12 m12 l12">
    <div id="meta_list">
      <%= render 'list' %>
    </div>
  </div>
</div>

</div>

<script type="text/javascript">

  $(function($) {

    $("#buscar").click(function() {
      if( $(this).prop('value') != "" ) {
        var id = $("#id").prop('value');
        var name = $("#name").prop('value');
        att_index(id, name);
      }
    });
  });



</script>

<script type="text/javascript">
  
function att_index(id, name){

    $.ajax({
      url: "/user/users",
      method: "GET",
      dataType: "script",
      data: {
      	'id': 			id,
        'nome': 		name
      },
    });

}
</script>

<script type="text/javascript">
  $("input").keyup(function() {
    $(this).val($(this).val().toUpperCase());
  });
</script>
