
<div class="layout">
  <h5 class="blue-text"><%= @meta.nome %></h5>
  <br>
  <div class="layout">
    <span class="orange-text" style="font-size: 18px;">Descrição</span>
    <%= "#{@meta.descricao}".html_safe %>
  </div>
  <br>
  <% @meta.submetas.order(:data).each do |submeta| %>
    <div class="layout">
      <span style="padding: 5px; border: 1px solid #2196f3; color: #2196f3;"><%= submeta.meta.porcentagem %>%</span><br><br>
      <% unless submeta.horas.blank? or submeta.horas.to_i.zero? %>
        <span><%= "#{submeta.horas}hrs / #{submeta.horas_finalizadas.to_i}hrs" %></span><br>
      <% end %>
        <% if submeta.finalizado %>
          <i class="material-icons green-text">check_circle</i>
          <span style="font-size: 12px; font-style: italic; color: #777; ">Concluído - <%= submeta.user.nome unless submeta.user.blank? %></span>
        <% else %>
          <i class="material-icons red-text">close</i>
          <span style="font-size: 12px; font-style: italic; color: #777; ">Não concluído</span>
        <% end %>
        <br>
        <span class="blue-text">
          <%= (l submeta.data.to_date, format: :long) %>
        </span>
    </div>
  <% end %>
</div>