<% if @meta.errors.any? %>
  $("#form_error").html("<%= j( render '/shared/form_error', object: @meta )%>");
  $('html, body').animate({ scrollTop: 0 }, 'slow');
Materialize.toast('Falha', 4000, 'red')
<% end %>