
      <%= form_for [:user, @user], remote: true do |f| %>

      <div id="form_error">
      </div>

      <div class="row">
        <div class="field">
          <div class="input-field col s12 m4 l4">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :nome, autofocus: true, class: "go_next"  %>
            <label for="icon_prefix">Nome / Razão Social</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m4 l4">
            <i class="material-icons prefix">email</i>
            <%= f.text_field :email, class: "go_next"  %>
            <label for="icon_prefix">E-mail</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m4 l4">
            <i class="material-icons prefix">lock</i>
              <%= f.password_field :password, autocomplete: "off" %>
            <label for="icon_prefix">Senha</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4">
          <i class="material-icons prefix">folder_shared</i>
          <%= f.text_field :cpf, :onkeypress => "mascara(this, checaCPF)", maxlength: 14, class: "go_next"  %>
          <label for="icon_prefix">CPF</label>
        </div>
        <div class="input-field col s12 m4">
          <i class="material-icons prefix">folder_shared</i>
          <%= f.text_field :cnpj, :onkeypress => "mascara(this, checaCNPJ)", maxlength: 18, class: "go_next"  %>
          <label for="icon_prefix">CNPJ</label>
        </div>
        <div class="input-field col s12 m4">
          <i class="material-icons prefix">folder_shared</i>
          <%= f.text_field :rg, class: "go_next", maxlength: 18 %>
          <label for="icon_prefix">I.E. / RG</label>
        </div>
      </div>


      <div class="row">

        <div class="field">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">phone</i>
            <%= f.text_field :telefone, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15, class: "go_next" %>
            <label for="icon_prefix">Telefone</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">phone</i>
            <%= f.text_field :celular, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15, class: "go_next" %>
            <label for="icon_prefix">Celular</label>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :data_nascimento, :onkeypress => "mascara(this, checaData)", maxlength: 10, class: "go_next" %>
            <label for="icon_prefix">Data de Nascimento</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :nacionalidade, class: "go_next" %>
            <label for="icon_prefix">Nacionalidade</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :sex, class: "go_next" %>
            <label for="icon_prefix">Sexo</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :estado_civil, class: "go_next" %>
            <label for="icon_prefix">Estado Civil</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l4">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :profissao, class: "go_next" %>
            <label for="icon_prefix">Profissão</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">arrow_forward</i>
            <%= f.text_field :location, class: "go_next" %>
            <label for="icon_prefix">Endereço</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="switch col s12">
          <div class="title">
            <p>Admin</p>
          </div>
          <label>
            Não
            <%= f.check_box :flg_admin %>
            <span class="lever"></span>
            Sim
          </label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <div class="actions">
            <button class="btn blue waves-effect waves-light right" type="submit" name="action">Salvar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

      <% end %>






<script type="text/javascript">

  $(document).ready(function() {
    $('select').material_select();
  });
    
</script>