<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>E-Mail</th>
      <th>Celular</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.nome %></td>
        <td><%= user.email %></td>
        <td><%= user.celular %></td>
        <td>
          <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_user_user_path(user), class: "btn blue btn-floating" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

