<div id="login" class="container" style="min-height: 400px; max-width: 500px; margin-top: 10%; padding: 15px; border: 1px solid #2196f3; background-color: #ddd;">
  <img src="/images/logos/logo.png" width="100%;">
  <div class="row">
    <div class="col m12 ">
      <div style="height: 100px;"></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field brown">
        <div class="input-field col s12">
          <%= f.email_field :email, :autocomplete => :off %>
          <label for="icon_prefix">E-mail</label>
        </div>
      </div>

      <div class="field">
        <div class="input-field col s12">
          <%= f.password_field :password, :autocomplete => :off %>
          <label for="icon_telephone">Password</label>
        </div>
      </div>

      
      <div class="input-field col s12">
        <div class="actions">
          <button class="btn blue waves-effect waves-light" type="submit" name="action">Entrar
            <i class="material-icons right">send</i>
          </button>

        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  
  $(document).ready(function() {
    $("#user_email").val("1");
    $("#user_email").val("");
  });
</script>