
<a class="btn blue" onClick="window.location.reload()">Voltar</a>
  <div id="home">

    <div class="slider">
      <ul class="slides">
          <div id="content">
                  <h1 id="h1_marketing" class="center" style='font-family: <%= "#{Setting['YATAH.font_mensagem'].blank? ? 'fatfreddieshadow' : Setting['YATAH.font_mensagem']}".html_safe %>'><%= "#{Setting['YATAH.mensagem']}".html_safe %></h1>
          </div>
          <img src="/images/gifs/astronaut.gif" style="width: 100%; height: 100%;">
      </ul>
    </div>

  <div id="yatah" class="container">

                  <div id="yatah_content" style="position: relative; ">
                      <div class="" style="position: relative;" >
                          <div id="relative_absolute" style="position: relative;   ">
                              <div class="titulo">
                                  <h4 style="line-height: inherit;  font-family: <%= "#{Setting['YATAH.font_titulo']}".html_safe %>;"><%= "#{Setting['YATAH.titulo']}".html_safe %></h4>
                              </div>
                              <div class="conteudo container">
                                  <span>
                                    <%= "#{Setting['YATAH.conteudo']}".html_safe %>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>

  </div>

  <div id="paralax_three">

        <div class="pa_50" >
          <div class="pr_-50"  >
          <h4 style="color: white; text-align: center; line-height: 1.2; font-family: <%= "#{Setting['YATAH.font_titulo_portfolio']}".html_safe %>;"><%= "#{Setting['YATAH.titulo_portfolio']}".html_safe %></h4>
          <span style="color: #fff; font-family: <%= "#{Setting['YATAH.font_subtitulo_portfolio']}".html_safe %>;"><%= "#{Setting['YATAH.subtitulo_portfolio']}".html_safe %></span>
          </div>
      </div>

      <div class="parallax-container">
        <div class="parallax">
          <img class="imagem_paralax_three" src="/images/banners/three.png">
        </div>
      </div>


  </div>


  <div id="portfolio">
    <div class="row" style="margin-bottom: 0; margin-top: 0; padding-top: 0; padding-bottom: 0; line-height: 0;">
      <% (1..8).each do |img| %>
        <div class="col s12 m12 l3 outside_box" style="margin: 0; padding: 0; overflow: hidden;" >
          <div class="our_content container">
          </div>
          <img src="/images/portfolio/<%= img %>.jpg" style="height: 100%;" >
        </div>
      <% end %>
    </div>
  </div>


<!--
  <div id="paralax_one">

        <div class="pa_50">
          <div class="pr_-50" >
              <h4 style="color: white; text-align: center; line-height: 1.3;">SAIA DA SUA ZONA <br /> DE CONFORTO</h4>
          </div>
      </div>

      <div class="parallax-container">
        <div class="parallax">
          <img src="/images/banners/one.jpg">
        </div>
      </div>
  </div>

  <div id="marketing">
    <div class="row">
      <div class="col s12 m12 l6">
        <div id="marketing_balao" style="position: relative; padding: 10% 5%;">

          <div class="pa_50" >
            <div class="pr_-50" >
              <img class="baloes" src="/images/banners/baloes.png">
            </div>
          </div>
        </div>

      </div>
      <div class="col s12 m12 l6">
        <div class="titulo">
          <h3>PRECISA DE AJUDA <br /> EM MARKETING?</h3>
        </div>
        <div class="conteudo">
          <span>
            Por que, então, não deixa isso <br>
            com pessoas especializadas?
          </span>
          <br>
          <br>
          <span>
            Sabemos quais as ferramentas e <br>
            estratégias ideais para o seu negócio.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="paralax_two">
    <div class="pa_50" >
      <div class="pr_-50"  >
        <h4 style="color: white; text-align: center; line-height: 1.2;">PORTFÓLIO</h4>
        <span style="color: #fff;">CONHEÇA UM POUCO SOBRE NOSSO TRABALHO</span>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax">
        <img src="/images/banners/two.jpg">
      </div>
    </div>
  </div>

-->


  <div id="servicos">
      <div class="titulo"><br>
          <h4 style=" font-family: <%= "#{Setting['YATAH.font_o_que_fazemos']}".html_safe %>;">
              <%= "#{Setting['YATAH.o_que_fazemos']}".html_safe %>
          </h4>
          <h3 style=" font-family: <%= "#{Setting['YATAH.font_servicos']}".html_safe %>;">
              <%= "#{Setting['YATAH.servicos']}".html_safe %>
          </h3>
      </div>
      <div style="text-align: center;">
        <img src="/images/banners/separador.png" style="width: 120px;">
      </div>
      <br>
      <div class="container">
        <div class="row">
        <% @servicos.each do |servico| %>
          <div class="col s12 m12 l4">
            <div class="item_servico">
              <i class="material-icons" style="font-size: <%= servico.icon_size %>; color: <%= servico.icon_color %>;"><%= servico.icon %></i><br>
              <span class="titulo">
                <%= servico.nome %>
              </span> <br> <br>
              <span class="descricao">
                <%= "#{servico.descricao}".html_safe %>
              </span> 
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <br>
      <br>
  </div>

  <div id="paralax_three">

        <div class="pa_50" >
          <div class="pr_-50"  >
              <h4 id="paralax_three_desenvolvimento" style="color: white; text-align: center; line-height: 1.1; font-size: 27px;">DESENVOLVIMENTO DE SISTEMAS WEB</h4>
          </div>
      </div>

      <div class="parallax-container">
        <div class="parallax">
          <img class="imagem_paralax_three" src="/images/banners/three.png">
        </div>
      </div>


  </div>

  <div id="desenvolvimento">

      <div class="parallax-container">
        <div class="parallax">
          <img class="imagem_paralax_three" src="/images/banners/sublime.png" style="width: 100%; height: auto;">
        </div>
      </div>

  </div>

  <div id="contato">
    <div class="row">
      <div class="col s12 m12 l6">

                  <div class="contato_content" style="position: relative; ">
                      <div class="pa_50" >
                          <div class="pr_-50">
                              <div class="titulo">
                                  <h3 style=" font-family: <%= "#{Setting['YATAH.font_contato_titulo']}".html_safe %>;"><%= "#{Setting['YATAH.contato_titulo']}".html_safe %></h3>
                              </div>
                              <div class="conteudo">
                                  <span style="font-size: 30px;">
                                    <%= "#{Setting['YATAH.contato_conteudo']}".html_safe %>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
      </div>
      <div class="col s12 m12 l6">
        
        <div id="formulario">
          <div id="form_error">
          </div>
            <%= form_for [@contato], remote: true do |f| %>

              <div class="row">
                <div class="field">
                  <div class="input-field col s12 m12 l12">
                    <%= f.text_field :nome %>
                    <label for="icon_prefix">Nome</label>
                  </div>
                </div>
                <div class="field">
                  <div class="input-field col s12 m12 l12">
                    <%= f.text_field :email %>
                    <label for="icon_prefix">E-mail</label>
                  </div>
                </div>
                <div class="field">
                  <div class="input-field col s12 m12 l12">
                    <%= f.text_field :celular, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15 %> 
                    <label for="icon_prefix">Celular</label>
                  </div>
                </div>
                <div class="field">
                  <div class="input-field col s12 m12 l12" style="padding-right: 0; padding-left: 10px;">
                    <%= f.text_area :mensagem, rows: "10", size: "30x10", id: "text_area_mensagem" %>
                    <label for="icon_prefix">Mensagem</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <div class="input-field col s12m 12 l12" style="padding: 0; padding-left: 10px;">
                    <div class="actions">
                      <button id="enviar" class="btn waves-effect waves-light" type="submit" name="action">Enviar
                      </button>
                    </div>
                  </div>
                </div>
              </div>    

            <% end %>
        </div>

      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

$( "#home" ).mouseover(function() {
    $(".our_content").height($(".outside_box").height()-30);
    $(".our_content").width($(".outside_box").width()-30);
});

  $(document).ready(function(){



    $("#marketing_balao").height($("#marketing_balao .pa_50").height());
    $("#yatah").css("min-height", $(".yatah_pa_50").height());
    $(".contato_content").height($(".contato_content .pa_50").height()+50);
    $(".imagem_paralax_three").width($(window).width());

    if(window.matchMedia( "(max-width: 420px)" ).matches){
      var altura = ($(window).height()/2);

      $(".pa_50").css("left","10%");
      $(".pr_-50").css("left","-5%");
      $(".pa_50").css("margin-top","5%");


      $(".yatah_pa_50").css("left","40%");

      $(".pa_55").css("left","15%");
      $(".pa_55").css("margin-top","10%");

      $("#h1_marketing").css("font-size","40px");
      $("#paralax_three_desenvolvimento").text("DESENVOLVIMENTO");
      $("#contato").css("background-size","unset");
      $("#navbar-fixed").css("position","fixed");

    }else{
      $("#h1_marketing").css("font-size",<%= "#{Setting['YATAH.font_size'].blank? ? '150' : Setting['YATAH.font_size'] }" %>);
      $("#contato").css("background-size","contain");
      $("#navbar-fixed").css("position","fixed");

      $(".yatah_pa_50").css("left","50%");

      $(".pa_50").css("left","50%");
      $(".pa_50").css("margin-top","2%");


      $(".pa_55").css("left","55%");
      $(".pa_55").css("margin-top","2%");
      altura = ($(window).height());
    }



    $('.slider').slider({
        width: $(window).width(),
        height: altura,
        indicators: false,
        interval: 3000,
        transition: 750,
        no_wrap: true
    });
      $('.carousel').carousel();
    });
</script>


<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>


<style type="text/css">
  .pa_55{
    position: absolute;
  }
  .pr_-5{
    position: relative;
    left: -5%;
  }
  .pa_50{
    position: absolute;
  }
  .pr_-50{
    position: relative;
    left: -50%;
  }
</style>

<style type="text/css">
  #content{
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; /* Need a specific value to work */
  top: <%= "#{Setting['YATAH.position'].blank? ? '40' : Setting['YATAH.position'] }%;" %>
  }

</style>