<%= javascript_include_tag '/ckeditor.js' %>
<div id="user_configuracoes">
	<div class="">
		<%= form_for user_configuracoes_gerais_salvar_path, method: :post, url: user_configuracoes_gerais_salvar_path, remote: true do |f| %>
		<div class="row">
			<h5 class="title">Configurações</h5>
		</div>
		<div class="field">
			<div class="input-field col s12">
				<div class="actions">
					<button class="btn green waves-effect waves-light" type="submit" name="action">Salvar
					</button>
					<a id="visualizar_home" class="btn blue">Visualizar</a>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 5px;">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s2"><a href="#form_site">Site</a></li>
				</ul>
			</div>

			<div id="form_site" class="col s12 m12 l12 ">
				
				<div class="row layout">
				<span style="font-size: 10px; color: #999; font-style: italic;">MARKETING</span>
					<div class="field">
						<div class="input-field col s12 m12 l6">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :mensagem, name: :mensagem, value: Setting['YATAH.mensagem'] %>
							<label for="icon_prefix">MENSAGEM</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :position, name: :position, value: Setting['YATAH.position'] %>
							<label for="icon_prefix">POSIÇÃO</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :font_size, name: :font_size, value: Setting['YATAH.font_size'] %>
							<label for="icon_prefix">TAMANHO</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.collection_select :font_mensagem, Setting.fonts_to_select, :to_s, :to_s, {:selected => Setting['YATAH.font_mensagem']}, {:name => 'font_mensagem'}  %>
							<label for="icon_prefix">FONTE</label>
						</div>
					</div>
				<span style="font-size: 10px; color: #999; font-style: italic;">ACREDITE NA YATAH MARKETING DIGITAL(...)</span>
					<div class="field">
						<div class="input-field col s12 m12 l10">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :titulo, name: :titulo, value: Setting['YATAH.titulo'] %>
							<label for="icon_prefix">TÍTULO</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.collection_select :font_titulo, Setting.fonts_to_select, :to_s, :to_s, {:selected => Setting['YATAH.font_titulo']}, {:name => 'font_titulo'}  %>
							<label for="icon_prefix">FONTE</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12">
							<%= f.cktext_area :conteudo, name: :conteudo, value: Setting['YATAH.conteudo'], ckeditor: {language: 'pt'} %>
							<label for="icon_prefix"></label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l10">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :titulo_portfolio, name: :titulo_portfolio, value: Setting['YATAH.titulo_portfolio'] %>
							<label for="icon_prefix">TÍTULO PORTFÓLIO</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.collection_select :font_titulo_portfolio, Setting.fonts_to_select, :to_s, :to_s, {:selected => Setting['YATAH.font_titulo_portfolio']}, {:name => 'font_titulo_portfolio'}  %>
							<label for="icon_prefix">FONTE</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l10">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :subtitulo_portfolio, name: :subtitulo_portfolio, value: Setting['YATAH.subtitulo_portfolio'] %>
							<label for="icon_prefix">SUBTÍTULO PORTFÓLIO</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.collection_select :font_subtitulo_portfolio, Setting.fonts_to_select, :to_s, :to_s, {:selected => Setting['YATAH.font_titulo_portfolio']}, {:name => 'font_titulo_portfolio'}  %>
							<label for="icon_prefix">FONTE</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l10">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :o_que_fazemos, name: :o_que_fazemos, value: Setting['YATAH.o_que_fazemos'] %>
							<label for="icon_prefix">TEXTO - O QUE FAZEMOS</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.collection_select :font_o_que_fazemos, Setting.fonts_to_select, :to_s, :to_s, {:selected => Setting['YATAH.font_titulo_portfolio']}, {:name => 'font_titulo_portfolio'}  %>
							<label for="icon_prefix">FONTE</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l10">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :servicos, name: :servicos, value: Setting['YATAH.servicos'] %>
							<label for="icon_prefix">TEXTO - SERVIÇOS</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.collection_select :font_servicos, Setting.fonts_to_select, :to_s, :to_s, {:selected => Setting['YATAH.font_titulo_portfolio']}, {:name => 'font_titulo_portfolio'}  %>
							<label for="icon_prefix">FONTE</label>
						</div>
					</div>
				<span style="font-size: 10px; color: #999; font-style: italic;">AGENDE SUA REUNIÃO</span>
					<div class="field">
						<div class="input-field col s12 m12 l10">
							<i class="material-icons prefix">beenhere</i>
							<%= f.text_field :contato_titulo, name: :contato_titulo, value: Setting['YATAH.contato_titulo'] %>
							<label for="icon_prefix">TÍTULO</label>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12 m12 l2">
							<i class="material-icons prefix">beenhere</i>
							<%= f.collection_select :font_contato_titulo, Setting.fonts_to_select, :to_s, :to_s, {:selected => Setting['YATAH.font_titulo_portfolio']}, {:name => 'font_titulo_portfolio'}  %>
							<label for="icon_prefix">FONTE</label>
						</div>
					</div>
				<span style="font-size: 10px; color: #999; font-style: italic;">CONTEÚDO DA TELA DE CONTATO</span>
					<div class="field">
						<div class="input-field col s12 m12">
							<%= f.cktext_area :contato_conteudo, name: :contato_conteudo, value: Setting['YATAH.contato_conteudo'], ckeditor: {language: 'pt'} %>
							<label for="icon_prefix"></label>
						</div>
					</div>
				</div>

				<div class="row layout">
					<div class="col s12 m12 l6 ">
						<div class="title">
							<p>Informações de Contato</p>
						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :email, name: :email, value: Setting['CONFIGURACOES.email'] %>
									<label for="icon_prefix">E-mail</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :telefone, name: :telefone, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15, value: Setting['CONFIGURACOES.telefone'] %>
									<label for="icon_prefix">Telefone</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :site_link, name: :site_link, value: Setting['CONFIGURACOES.site_link'] %>
									<label for="icon_prefix">SITE: http://exemplo.com.br</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :facebook, name: :facebook, value: Setting['CONFIGURACOES.facebook'] %>
									<label for="icon_prefix">Facebook</label>
								</div>
							</div>

						</div>
					</div>
					<div class="col s12 m12 l6">
						<div class="title">
							<p>Informações para SEO</p>
						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :site, name: :site, value: Setting['CONFIGURACOES.site'] %>
									<label for="icon_prefix">Nome do Site</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :title, name: :title, value: Setting['CONFIGURACOES.title'] %>
									<label for="icon_prefix">Título do Site</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :descricao, name: :descricao, value: Setting['CONFIGURACOES.descricao'] %>
									<label for="icon_prefix">Descrição do Site</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">beenhere</i>
									<%= f.text_field :keys, name: :keys, value: Setting['CONFIGURACOES.keys'] %>
									<label for="icon_prefix">Keys do Site</label>
								</div>
							</div>

						</div>
					</div>
				</div>


			</div>

		</div>
		<div class="field">
			<div class="input-field col s12">
				<div class="actions">
					<button class="btn waves-effect waves-light" type="submit" name="action">Salvar
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>



<script type="text/javascript">
	$("#visualizar_home").click(function(){

	    $.ajax({
	      url: "/user/configuracoes/visualizar_home",
	      method: "GET",
	      dataType: "script",
	      data: {
	      },
	    });
	});
</script>