
@font-face {
    font-family: 'tt0001m';
    src: font-url('tt0001m.eot');
    src: font-url('tt0001m.eot?#iefix') format('embedded-opentype'),
        font-url('tt0001m.woff2') ,
        font-url('tt0001m.woff') ,
        font-url('tt0001m.ttf') ,
        font-url('tt0001m.svg#tt0001m') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt0320m';
    src: font-url('tt0320m.eot');
    src: font-url('tt0320m.eot?#iefix') format('embedded-opentype'),
        font-url('tt0320m.woff2') ,
        font-url('tt0320m.woff') ,
        font-url('tt0320m.ttf') ,
        font-url('tt0320m.svg#tt0320m') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ailerons-typeface';
    src: font-url('ailerons-typeface.eot');
    src: font-url('ailerons-typeface.eot?#iefix') format('embedded-opentype'),
        font-url('ailerons-typeface.woff2') ,
        font-url('ailerons-typeface.woff') ,
        font-url('ailerons-typeface.ttf') ,
        font-url('ailerons-typeface.svg#ailerons-typeface') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'xenodemon3dital';
    src: font-url('xenodemon3dital.eot');
    src: font-url('xenodemon3dital.eot?#iefix') format('embedded-opentype'),
        font-url('xenodemon3dital.woff2') ,
        font-url('xenodemon3dital.woff') ,
        font-url('xenodemon3dital.ttf') ,
        font-url('xenodemon3dital.svg#xenodemon3dital') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'goffik-o';
    src: font-url('goffik-o.eot');
    src: font-url('goffik-o.eot?#iefix') format('embedded-opentype'),
        font-url('goffik-o.woff2') ,
        font-url('goffik-o.woff') ,
        font-url('goffik-o.ttf') ,
        font-url('goffik-o.svg#goffik-o') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialic-hollow';
    src: font-url('arialic-hollow.eot');
    src: font-url('arialic-hollow.eot?#iefix') format('embedded-opentype'),
        font-url('arialic-hollow.woff2') ,
        font-url('arialic-hollow.woff') ,
        font-url('arialic-hollow.ttf') ,
        font-url('arialic-hollow.svg#arialic-hollow') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'chalk-line-outline';
    src: font-url('chalk-line-outline.eot');
    src: font-url('chalk-line-outline.eot?#iefix') format('embedded-opentype'),
        font-url('chalk-line-outline.woff2') ,
        font-url('chalk-line-outline.woff') ,
        font-url('chalk-line-outline.ttf') ,
        font-url('chalk-line-outline.svg#chalk-line-outline') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'londrinaoutline-regular';
    src: font-url('londrinaoutline-regular.eot');
    src: font-url('londrinaoutline-regular.eot?#iefix') format('embedded-opentype'),
        font-url('londrinaoutline-regular.woff2') ,
        font-url('londrinaoutline-regular.woff') ,
        font-url('londrinaoutline-regular.ttf') ,
        font-url('londrinaoutline-regular.svg#londrinaoutline-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'the-maple-origins';
    src: font-url('the-maple-origins.eot');
    src: font-url('the-maple-origins.eot?#iefix') format('embedded-opentype'),
        font-url('the-maple-origins.woff2') ,
        font-url('the-maple-origins.woff') ,
        font-url('the-maple-origins.ttf') ,
        font-url('the-maple-origins.svg#the-maple-origins') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'vector';
    src: font-url('vector.eot');
    src: font-url('vector.eot?#iefix') format('embedded-opentype'),
        font-url('vector.woff2') ,
        font-url('vector.woff') ,
        font-url('vector.ttf') ,
        font-url('vector.svg#vector') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'fatfreddieshadow';
    src: font-url('fatfreddieshadow.eot');
    src: font-url('fatfreddieshadow.eot?#iefix') format('embedded-opentype'),
        font-url('fatfreddieshadow.woff2') ,
        font-url('fatfreddieshadow.woff') ,
        font-url('fatfreddieshadow.ttf') ,
        font-url('fatfreddieshadow.svg#fatfreddieshadow') format('svg');
    font-weight: normal;
    font-style: normal;
}
