
.load-ajax {
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5000;
  img{
  	position: absolute;
  	top: 50%;
  	left: 50%;
  }
}




.container-fluid{
  margin: 0 2%;
  padding: 15px 15px;
}

  .input-field label.active{
    color: #1976d2 !important;
  }
  .input-field i.active{
    color: #1976d2 !important;
  }

  .input-field input:focus{
    color: #444 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #42a5f5 !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px;
  }

  .input-field input{
    color: #777 !important;
    font-style: italic !important;
    font-weight: 400 !important;
    padding-left: 10px !important;
  }


  .layout{
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    border-radius: 5px;
  }