#home{
	#banner{
		min-height: 400px;
		margin-bottom: -6px;
		img{
			width: 100%;
			max-height: 700px;
			background-size: contain;
		}
	}
	h1{
		font-family: "fatfreddieshadow";
		color: white;
	}
}

#home_banner{
	background-color: black;
	.home_img{
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	.home_img img {
		min-height: 100%;
		min-width: 100%;
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		/* IE 5-7 */
		filter: alpha(opacity=0);
		/* modern browsers */
		position: absolute;
		top: -25%;
		max-width: 100%;
		opacity: 0.4;
	}

	h5{
		position: absolute;
		z-index: 1000;
		color: #fff;
		font-size: 42px;
		top: 45%;
		left: 42%;
	}

}

#paralax_one{
	font-family: "ailerons-typeface";
	width: 100%;
	height: 192px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;

	.parallax-container {
	}
	.parallax-container .parallax img{

		height: 110%;

	}
}

#paralax_two{
	width: 100%;
	height: 192px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;

	.parallax-container {
	}
	.parallax-container .parallax img{

		height: 110%;

	}
		h1, h2, h3, h4, h5{
			font-family: "tt0001m";
			font-size: 40px;
		}
}

#paralax_three{
	width: 100%;
	height: 192px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;

	.parallax-container {
		height: 192px;
	}
	.parallax-container .parallax img{

		height: 100%;
		width: auto;
	}
		h1, h2, h3, h4, h5{
			font-family: "tt0001m";
			font-size: 30px;
		}
}

#portfolio{
.our_content {
	/* Initially we don't want any height, and we want the contents to be hidden */
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	background-color: rgba(103, 58, 183, 1);
	opacity: 0;
	margin: 15px;
	/* Set our transitions up. */
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	transition: 0.8s;
	z-index: 1111;
	span{
		text-align: center;
		color: white;
		font-size: 30px;
		line-height: 1.2;
	}
}


  .outside_box img{
		transition: transform .6s
	}
  .outside_box:hover .our_content {
	opacity: 0.85;
  /* On hover, set the max-height to something large. In this case there's an obvious limit. */
}

  .outside_box:hover img {
		transform: scale(1.1);
		transition: transform .6s
	}

	img{
		width: 100%;
	}
}


#marketing{
	min-height: 300px;

	img.baloes{
		height: 300px;
		width: auto;
		margin-left: 10%;

	}

	.ilustracao{
		
		text-align: center;

		img{
			width: 100px;
		}
	}

	.titulo{
		h1, h2, h3, h4, h5{
			font-family: "tt0001m";
			margin: 10% 0;
			color: #666;
		}
	}

	.conteudo{
		span{
			color: #555;
			line-height: 1.5;
			font-size: 20px;
			font-family: "tt0001m";
		}
	}
}


#servicos{
	text-align: center;
			font-family: "tt0001m";

	.ilustracao{
		
		text-align: center;

		img{
			width: 100px;
		}
	}

	.titulo{
		h4, h5{
			font-family: "tt0001m";
			color: #aaa;
			text-align: center;
			font-size: 22px;
		}
		h1, h2, h3{
			font-family: "tt0001m";
			color: #555;
			text-align: center;
			font-size: 30px;
			font-weight: bolder;
		}
	}

	.conteudo{
		span{
			color: #555;
			line-height: 1.5;
			font-size: 20px;
		}
	}

	.item_servico{
		min-height: 270px;
		text-align: center;
		padding: 15px;
		border: 1px dashed #eee;
		font-size: 12px;
		span.titulo{
			font-weight: 600;
		}
		span.descricao{
			line-height: 1.5;
		}
	}
}


#yatah{
			font-family: "tt0001m";
			display: block;
			margin-bottom: 2%;
			text-align: center;

	.ilustracao{
		
		text-align: center;

		img{
			width: 100px;
		}
	}

	.titulo{
		h1, h2, h3, h4, h5{
			font-family: "tt0001m";
			color: #2196f3;
			text-align: center;
			line-height: 10%;
			font-size: 21px;
			margin: 15px;
			font-weight: bolder;
		}
	}

	.conteudo{
			text-align: left;
		span{
			color: #555;
			line-height: 1.5;
			font-size: 20px;
		}
	}
}


#contato{
	min-height: 400px;
	background-image:   url("/images/banners/contato.jpg");


		.ilustracao{
			
			text-align: center;

			img{
				width: 100px;
			}
		}

		.titulo{
			h1, h2, h3, h4, h5{
				font-family: "tt0001m";
				margin: 10% 0;
				color: #7000AE;
				text-align: center;
				line-height: 1.3;
				font-size: 30px;
				font-weight: bolder;
				text-align: left;
				span{
					font-size: 50px;
				}
			}
		}

		.conteudo{
			span{
				color: #fff;
				line-height: 1.3;
				font-size: 15px;
			}
		}


		#formulario{
			padding: 15px; 
			margin: 15px; 
			border-radius: 5px;

			button{
				background-color: #653cb2;
				width: 100%;
			}

			.input-field label{
				padding-left: 15px;
				color: #653cb2;
			}

			.input-field label.active{
				color: #fff !important;
			}

			.input-field i{
				color: #653cb2 !important;
			}
			.input-field i.active{
				color: #000 !important;
			}

			.input-field input:focus{
				color: #000 !important;
				box-shadow: none !important;
				border: 1px solid #ddd !important;
				font-style: normal !important;
				font-weight: 500 !important;
				font-size: 18px;
				padding-left: 15px;
				margin-top: 5px;
			}

			.input-field input{
				margin-top: 5px;
				border: 1px solid #ddd !important;
				color: #666 !important;
				font-style: italic !important;
				font-weight: 400 !important;
				padding-left: 15px;
				background-color: white;
			}

			.input-field textarea:focus{
				color: #000 !important;
				box-shadow: none !important;
				border: 1px solid #ddd !important;
				font-style: normal !important;
				font-weight: 500 !important;
				font-size: 18px;
				padding-left: 15px;
				margin-top: 5px;
			}

			.input-field textarea{
				margin-top: 5px;
				border: 1px solid #ddd !important;
				color: #666 !important;
				font-style: italic !important;
				font-weight: 400 !important;
				padding-left: 15px;
				background-color: white;
				height: 150px;
				width: 100%;
			}

		}
}
