#login{

	top: 30%;



	.input-field label.active{
		color: #1976d2 !important;
	}
	.input-field i.active{
		color: #1976d2 !important;
	}

	.input-field input:focus{
		color: #444 !important;
		box-shadow: none !important;
		border-bottom: 1px solid #42a5f5 !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 18px;
	}

	.input-field input{
		color: #777 !important;
		font-style: italic !important;
		font-weight: 400 !important;
	}
}