<div id="navbar-fixed" class="">
  <nav id="navbar" class="nav_botton" style="box-shadow: none;">
    <%= link_to home_path, style: "height: 100%;" do %>
      <img id="" class="logo" src="/images/logos/logo.png"  >
    <% end %>
    <div class="nav-wrapper right" style="position: absolute; right: 14%;">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "HOME", user_root_path %></li>
        <li><%= link_to "USUÁRIOS", user_users_path %></li>
        <li><%= link_to "CONTATOS", user_contatos_path %></li>
        <li><%= link_to "SERVIÇOS", user_servicos_path %></li>
        <li><%= link_to "METAS", user_metas_path %></li>
        <li><%= link_to "CONFIGURAÇÕES", user_configuracoes_gerais_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "HOME", user_root_path %></li>
        <li><%= link_to "USUÁRIOS", user_users_path %></li>
        <li><%= link_to "CONTATOS", user_contatos_path %></li>
        <li><%= link_to "SERVIÇOS", user_servicos_path %></li>
        <li><%= link_to "METAS", user_metas_path %></li>
        <li><%= link_to "CONFIGURAÇÕES", user_configuracoes_gerais_path %></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "SAIR", destroy_user_session_path, :method => :delete unless current_user.blank? %></li>
      </ul>
    </div>
  </nav>
</div>