<!DOCTYPE html>
<html>
  <head>
    <title>Nabrasa Rotisserie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= image_path('favicon.ico') %>" />
    <link sizes="180x180" rel="apple-touch-icon" href="<%= image_path('touch-icon.png') %>">
    <link sizes="192x192" rel="icon" href="<%= image_path('touch-icon.png') %>">
  </head>

  <body>
    <header>
    </header>

    <main>
      <div id="body" class="container">
        <%= yield %>
      </div>
    </main>


    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'red')" %>
      <% else message_type == 'notice' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'green')" %>
      <% end %>
    <% end %>
  </body>
</html>


<script type="text/javascript">
$(document).ready(function(){
$(".go_next").keypress(function(event) {
        if(event.keyCode == 13) { 
        textboxes = $("input.go_next");
        debugger;
        currentBoxNumber = textboxes.index(this);
        if (textboxes[currentBoxNumber + 1] != null) {
            nextBox = textboxes[currentBoxNumber + 1]
            nextBox.focus();
            nextBox.select();
            event.preventDefault();
            return false 
            }
        }
    });
})
</script>