<!DOCTYPE html>
<html>
  <head>

    <title>Yatah - web.marketing.lab</title>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= image_path('favicon.ico') %>" />
    <link sizes="180x180" rel="apple-touch-icon" href="<%= image_path('touch-icon.png') %>">
    <link sizes="192x192" rel="icon" href="<%= image_path('touch-icon.png') %>">
  </head>

  <body  class="<%= controller_name %> <%= action_name %>">

    <header>
      <%= render "shared/nav" %>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>

    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'red')" %>
      <% else message_type == 'notice' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'green')" %>
      <% end %>
    <% end %>
  </body>
</html>






<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
    $('select').material_select();
    $('.collapsible').collapsible();
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    
  });

</script>